#header {
    margin-top: 10px;
}

#title {
    line-height: 64px;
    font-size: 48px;
    font-weight: bold;
}

#subtitle {
    line-height: 24px;
    font-size: 20px;
}

#footer {
    text-align: center;
}