#main {
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

#header {
    margin-top: 10px;
}

#logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#title a, #subtitle a {
    color: #000000;
}

#title a:hover, #subtitle a:hover {
    text-decoration: none;
}

#title {
    float: left;
    line-height: 64px;
    font-size: 48px;
    font-weight: bold;
}

#subtitle {
    float: left;
    line-height: 24px;
    font-size: 20px;
}

#header .nav-pills {
    margin-top: 30px;
    margin-left: -25px;
}

#cse-search-box input {
    width: 150px;
    margin-left: -50px;
    margin-top: 32px;
    border-radius: 20px;
    padding-left: 10px;
}

.google-branding {
    background: rgb(255, 255, 255) url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif) no-repeat no-repeat 10px 50%;
}

#upcoming {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 5px;
    line-height: 18px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#upcoming table tr {
    margin-bottom: 10px;
}

#upcoming table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    padding-right: 10px;
}

#upcoming table tr td {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

#upcoming .soldout {
    color: red;
    font-weight: bold;
}

#top-space {
    margin-top: 50px;
}

#bigsell {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 120px;
}

#bigsell-main {
    font-size: 56px;
    line-height: 80px;
    color: #000000;
}

#bigsell-details {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
}

#photos {
    text-align: center;
    margin-bottom: 50px;
}

#photos img {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 240px;
    height: 180px;
}

.navbar {
    margin-bottom: 0;
}

.navbar .nav,
.navbar .nav > li {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.navbar .navbar-inner {
    text-align: center;
    border-radius: 0;
}

.navbar i {
    padding-right: 5px;
}

.navbar-fixed-top {
    left: auto;
    right: auto;
}

.marketing-section {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#26000000', endColorstr = '#00000000', GradientType = 0); /* IE6-9 */
    padding-bottom: 80px;
}

.marketing-section-head {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    padding-top: 20px;
}

.marketing-section-sub {
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto 25px;
    text-align: center;
    line-height: 150%;
}

.marketing-item {
    margin-bottom: 40px;
}

.marketing-item-icon {
    font-size: 48px;
    color: #808080;
    text-align: center;
}

.marketing-item-head {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
}

.call-to-action {
    text-align: center;
}

#home .quote {
    padding-left: 50px;
}

.quote {
    margin-bottom: 50px;
}

.bubble {
    position: relative;
    width: 330px;
    background: #FFFFFF;
    border: #808080 solid 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    font-style: italic;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-style: solid;
    border-width: 15px 20px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 49px;
    border-style: solid;
    border-width: 16px 21px 0;
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.quote .attribution {
    margin-top: 20px;
}

.course {
    padding: 10px;
    border: 2px black solid;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.course i {
    font-size: 55px;
}

.course .section-head {
    text-align: left;
    font-weight: bold;
}

.course .section-text {
    text-align: left;
}

#client-logos {
    text-align: center;
}

#client-logos img {
    padding: 20px;
}

.tweet {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tweet-link {
    font-size: 10px;
}

#twitter-follow {
    text-align: center;
}

#latest-posts {
    margin-top: 10px;
}

#latest-posts div {
    margin-bottom: 20px;
}

#footer {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
}

body.modal-open {
    overflow: hidden;
}

.modal.fade {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
}

#contact form {
    margin: 0;
}

#contact input, #contact textarea {
    width: 335px;
}

#about-photo {
    text-align: center;
}

#about-social {
    margin-top: 40px;
    text-align: center;
    font-size: 48px;
}

#about-social a {
    color: #808080;
    padding: 10px;
}

#about-social a:hover {
    color: #000000;
    text-decoration: none;
}

#about-social #stackoverflow {
    width: 100px;
    height: 50px;
    background: url('/assets/stackoverflow.png') no-repeat center;
    color: #808080;
    padding: 10px 30px;
}

#about-social a#stackoverflow:hover {
    background: url('/assets/stackoverflow-hover.png') no-repeat center;
}

#about-social #slideshare {
    width: 100px;
    height: 50px;
    background: url('/assets/slideshare.png') no-repeat center;
    color: #808080;
    padding: 10px 50px;
}

#about-social a#slideshare:hover {
    background: url('/assets/slideshare-hover.png') no-repeat center;
}

.about-section {
    margin-top: 50px;
}

.talk {
    margin-bottom: 30px;
    font-size: 12px;
}

.talk img {
    margin-bottom: 5px;
}

#talk-map-container {
    width: 780px;
    margin-bottom: 20px;
}

#talk-map-legend {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

#talk-map-legend span {
    margin-right: 20px;
}

#talk-map {
    width: 770px;
    height: 325px;
}

#parleys {
    background: url("/assets/parleys.png") no-repeat center;
    height: 300px;
    width: 400px;
    text-align: center;
    font-size: 200px;
    margin-bottom: 5px;
}

#parleys a {
    display: block;
    width: 400px;
    height: 300px;
    padding-top: 50px;
    color: #808080;
}

#parleys a:hover {
    text-decoration: none;
    color: black;
}

#talk-cd {
    width: 400px;
    text-align: center;
    font-size: 160px;
}

#talk-cd-en {
    background: url("/assets/talk-cd-en.png") no-repeat top left;
}

#talk-cd-de {
    background: url("/assets/talk-cd-de.png") no-repeat top left;
}

#talk-cd-fr {
    background: url("/assets/talk-cd-fr.png") no-repeat top left;
}

#talk-cd a {
    padding-top: 30px;
    display: block;
    width: 400px;
    height: 195px;
    color: #808080;
}

#talk-cd a:hover {
    text-decoration: none;
    color: black;
}

#talk-flyway {
    width: 400px;
    text-align: center;
    font-size: 160px;
}

#talk-flyway-en {
    background: url("/assets/talk-flyway-en.png") no-repeat top left;
}

#talk-flyway a {
    padding-top: 30px;
    display: block;
    width: 400px;
    height: 195px;
    color: #808080;
}

#talk-flyway a:hover {
    text-decoration: none;
    color: black;
}

#blog-popular {
    margin-left: -30px;
}

.blog-post-date {
    color: #808080;
    font-weight: bold;
}

.blog-post-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 50px;
}

#social-buttons {
    margin-bottom: 50px;
}

#social-buttons td {
    width: 120px;
}

#blog-post-nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

#blog-post-previous {
    float: left;
}

#blog-post-next {
    float: right;
}

#blog-post-archive {
    clear: both;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

#articles li {
    line-height: 32px;
}

#blog-archive {
    line-height: 200%;
}

.img-polaroid {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.small {
    font-size: 10px;
}

.logo-list img {
    padding: 5px;
}