---
layout: default
pill: blog
category: Blog
---
<div id="top-space"></div>
<div class="blog-post">
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <p class="blog-post-date">{{page.date | date: "%Y-%m-%d"}}</p>

            <p class="blog-post-title">{{ page.title }}</p>

            {{ content }}

            <p>&nbsp;</p>

            <hr>
        </div>
        <div class="span1"></div>
    </div>

    <div class="row">
        <div class="span1"></div>
        <div class="span2">
            <img src="/assets/photos/axel.jpg" alt="Axel" class="img-polaroid" width="120"/>
        </div>
        <div class="span8">
            <p><strong>About Axel Fontaine</strong></p>

            <p>I'm an entrepreneur, public speaker and software development expert based in Munich.</p>
            <p>
                I'm the creator of <a href="https://sprinters.sh" target="_blank">Sprinters</a>.
                Sprinters lets you run your GitHub Actions jobs 10x cheaper on your own AWS account with secure, ephemeral, high-performance, low-cost runners within the privacy of your own VPC.
            </p>
            <p>
                I also created <a href="https://cloudcaptain.sh" target="_blank">CloudCaptain</a>, previously known as Boxfuse.
                CloudCaptain is a cloud deployment platform enabling small and medium size companies to focus on development, while it takes care of infrastructure and operations.
            </p>
            <p>
                Back in 2010, I bootstrapped <a href="https://flywaydb.org" target="_blank">Flyway</a>,
                and grew it into the world's most popular database migration tool.
                Starting late 2017, I expanded the project beyond its open-source roots into a highly profitable business,
                acquiring many of the world's largest companies and public institutions as customers.
                After two years of exponential growth, I <a href="https://www.realwire.com/releases/Redgate-cements-position-as-leading-vendor-with-Flyway-acquisition" target="_blank">sold the company to Redgate</a> in 2019.
            </p>
            <p>In the past I also <a href="#speaking">spoke regularly at many large international conferences</a>
                including JavaOne, Devoxx, Jfokus, JavaZone, JAX and more about a wide range of topics including
                modular monoliths, immutable infrastructure and continuous delivery. As part of this I received the
                JavaOne RockStar speaker award. As a recognition for my contributions to overall Java industry,
                Oracle awarded me the
                <a href="https://blogs.oracle.com/java/post/new-java-champion-axel-fontaine" target="_blank">Java Champion</a>
                title.</p>

            <p>You can find me on 𝕏 as <a href="https://x.com/axelfontaine" target="_blank">@axelfontaine</a> and email me at axel@axelfontaine.com</p>
        </div>
        <div class="span1"></div>
    </div>
</div>
