---
layout: default
pill: blog
category: Blog
---
<div id="top-space"></div>
<div class="blog-post">
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <p class="blog-post-date">{{page.date | date: "%Y-%m-%d"}}</p>

            <p class="blog-post-title">{{ page.title }}</p>

            {{ content }}

            <p>&nbsp;</p>

            <div id="social-buttons">
                <table>
                    <tr>
                        <td>
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-text="{{ page.title }} by @axelfontaine"></a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "http://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");</script>
                        </td>
                        <td>
                            <g:plusone size="medium"></g:plusone>
                            <script type="text/javascript">
                                (function () {
                                    var po = document.createElement('script');
                                    po.type = 'text/javascript';
                                    po.async = true;
                                    po.src = 'https://apis.google.com/js/plusone.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </td>
                    </tr>
                </table>
            </div>

            <hr>
        </div>
        <div class="span1"></div>
    </div>

    <div class="row">
        <div class="span1"></div>
        <div class="span2"><img src="/assets/photos/axel.jpg" alt="Axel" class="img-polaroid"
                                width="120"/></div>
        <div class="span8">
            <p><strong>About Axel Fontaine</strong></p>

            <p>I'm the founder and CEO of <a href="http://boxfuse.com">Boxfuse</a> GmbH. Boxfuse turns your JVM app into
                a secure &amp; immutable machine image in seconds, which can be run both on your laptop and in the
                cloud.</p>

            <p>I'm also the founder and project lead of <a href="http://flywaydb.org">Flyway</a>, the open-source
                database migration tool.</p>

            <p>Additionally I regularly speak at many large international conferences including JavaOne, Devoxx, Jfokus,
                JavaZone, JAX, ...</p>

            <p>You can find me on Twitter as <a href="http://twitter.com/axelfontaine">@axelfontaine</a></p>

            <p>&nbsp;</p>
        </div>
        <div class="span1"></div>
    </div>
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <div id="training-ad">
                <div id="training-ad-title">

                    <i class="icon-rocket"></i>
                    Architecting for Continuous Delivery and Zero Downtime
                </div>
                <p id="training-ad-subtitle">Two day intensive on-site training with Axel Fontaine</p>

                <p><strong>Upcoming dates</strong></p>

                <p>
                    <i class="icon-map-marker"></i> Stockholm, Sweden (Feb 5-6, 2015)<br/>
                    <i class="icon-map-marker"></i> Belfast, UK (Mar 30-31, 2015)<br/>
                    <i class="icon-map-marker"></i> München, Germany (Apr 23-24)
                </p>

                <div class="call-to-action">
                    <a href="/training/continuousdelivery.html"
                       class="btn btn-primary">Info and Registration</a>
                </div>
            </div>

            <div id="blog-post-nav">
                {% if page.previous %}
                <div id="blog-post-previous">
                    <a href="{{page.previous.url}}">« {{ page.previous.title }}</a>
                </div>
                {% endif %}

                {% if page.next %}
                <div id="blog-post-next">
                    <a href="{{page.next.url}}">{{ page.next.title }} »</a>
                </div>
                {% endif %}

                <div id="blog-post-archive">
                    <a href="/blog/archive.html">Browse complete blog archive</a><br/>
                    <a href="/blog/atom.xml"><i class="icon-rss"></i></a> <a href="/blog/atom.xml">Subscribe to the
                    feed</a>
                </div>

            </div>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'axelfontaine'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>

        </div>
        <div class="span1"></div>
    </div>

</div>